.sign-up,
.login {
    text-align: center;

}

.sign-up h1,
.login h1 {
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
}

.auth-toggle-link {
    margin-top: -10px;
    margin-bottom: 40px;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    color: blueviolet;
}